#peekobot-container {
    padding: 1rem 1rem 2rem 1rem;
    height: var(--peekobot-height);
    position: relative;
    width: 700px;
    margin: auto;
    top: 50px;
}
#peekobot-inner {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    /* Hiding scrollbars is a pain. This is from: https://redstapler.co/css-hidden-scrollbar-while-scrollable-element/ */
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#peekobot-inner::-webkit-scrollbar { 
    display: none;  /* Chrome Safari */
}

.botText,
.userText {
    opacity: 0;  /* Set to activated to show */
    transform: translateY(-50%); /* Set to activated to move down */
    transition: all 0.3s 0.3s;
    padding: 0.5rem 0.7rem;
    line-height: 1.4;
    color: black;
    max-width: 60%;
    margin-bottom: 0.5rem;
    animation: floatup .5s forwards;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;

}
.botText {
    position: relative;
    animation: floatup .5s forwards;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    background-color: #5584fa;
}

.userText {
  background-color: #bcf3d3;
  margin-right: 0;
  margin-left: auto;
  border-radius: 8px;
  border-bottom-right-radius: 2px;
  text-align: right;
}
.choices {
  opacity: 0; /* Set to active to show */
  transform: translateY(-50%); /* Set to activated to move down */
  transition: all 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
  margin-top: 0.5rem;
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
}
.choice {
  display: inline-block;
  outline: none;
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  border-bottom-right-radius: 2px;
  font-size: 0.9rem;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border: 0.5px solid black;
  /*position: fixed;*/
  background-color: transparent;
}
.choice:disabled {
  display: none;
}

.choice:disabled:hover {
  background-color: transparent;

}

.choice:hover {
  background-color: #ce97db;
}

.activated {
  opacity: 1;
  transform: translateY(0);
}
.restart {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  outline: none;
  font-size: 12px;
  box-shadow: none;
  padding: 0.2rem 0.5rem; 
  cursor: pointer;
  border: 0px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.restart:hover {
  color: #5584fa;
}

@keyframes floatup{
  from {
    transform: translateY(14px);
    opacity: .0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .restart {
    right: 5%
  }
}

@media screen and (max-width: 600px) {
  #peekobot-container {
    width: 100%;
    border-radius: 0px;
  }

}